# Root ignores
node_modules/
**/node_modules/**
.venv/
venv/
.env
backend/.env

# Python
__pycache__/
**/__pycache__/**
*.pyc
*.pyo
*.pyd
.Python

# Solana/Anchor build outputs
blockchain/rb_contracts/target/
blockchain/target/

# Mac
.DS_Store

